
@font-face {
font-family: 'Kaushan Script';
  src: url("../font/KaushanScript-Regular.otf");
}
.taskGrid {
  display: flex;
  border: 1px black solid;
  border-radius: 13px;
  padding-left: 3em;
  padding-right: 1%;
  font-size: 1.2em;
  color: blue;
  position: relative;
  flex-flow: column;
  overflow: auto;
  background-color: whitesmoke;
}
.taskTitle {
  height: 1em;
  display: flex;
  flex-flow: row;
  padding-bottom: 2%;
  cursor: pointer;
}
.taskDoneStatus {
  color: gainsboro;
}
.taskToDoStatus {
  color: blue;
}
.flexDiv {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  border-bottom: black 1px solid;
  padding-top: 1.5%;

}
.deleteTask {
  display: flex;
  height: 2.4em;
  width: 6em;
  align-items: center;
  margin-left: 5em;
  background-color: gray;
  color: white;
  justify-content: center;
  border-bottom-left-radius: 50% 40px;
  border-bottom-right-radius: 40% 10px;
  border-top-right-radius: 30% 80px;
  border-top-left-radius: 80% 10px;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #cbbae8;
  }
}